/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo da página */
body {
    background-color: var(--primary);
    overflow: hidden;
}

th {
    text-align: -webkit-match-parent;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: 0 solid transparent;
    transition: opacity .3s ease-in-out;
    &:hover{
        opacity: .6;
    }
}

.theme_button{
    position: relative;
    & #theme_dark{
        display: unset;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .3s ease-in-out;
        &.active{
            opacity: 1;
        }
    }
}

.flex_column {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* ===== MENU LATERAL ===== */
nav {
    background-color: var(--secondary); /* Fundo do menu */
    width: 16rem;
    overflow-y: auto;
    align-self: flex-start;
    height: calc(100vh - 7.01rem);
    position: fixed;
    left: 0;
    & .logout_option{
        width: 100%;
        & a{
            display: block;
            font-size: var(--default-text-small);
            margin-left: 1rem;
            text-align: left;
            width: 100%;
        }
    }
}

nav ul {
    list-style: none;
    padding: 0;
    flex: 1;
    width: 100%;
}


nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: var(--default-text-small);
    display: block;
    padding: 1rem;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: var(--text-color);
    color: #ffffff;
}

/* ===== CONTEÚDO PRINCIPAL ===== */
.flex-grow-1 {
    margin-left: 250px; /* Para não sobrepor o menu */
    padding: 20px;
}

/* ===== CABEÇALHO ===== */
header {
    background-color: var(--secondary); /* Fundo cinza claro */
    color: #000000; /* Texto preto */
    padding: .5rem 2rem;
    width: 100%;
    &.flex_row{
        justify-content: space-between;
        align-items: center;    
    }
    & .time{
        text-align: right;
    }
    & h2{
        color: var(--text-color);
    }
    & h3 {
        color: var(--text-color);
        font-size: var(--heading-section);
        font-weight: var(--thin);
    }
    & h4 {
        color: var(--text-color);
        font-size: var(--default-text);
        font-weight: var(--thin);
    }
}

.no_style_anchor{
    text-decoration: none;
    color: var(--text-color-white);
}

main{
    align-self: flex-start;
    justify-self: flex-end;
    overflow: auto;
    height: calc(100vh - 7.01rem);
    width: calc(100vw - 17rem);
    padding-right: 1.6rem;
}
