@import url(/css/themeLight.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: var(--primary);
}
.container{
    background-color: var(--card-bg);
    padding: 1rem;
    font-size: var(--defaut-text);
}

.session-cadastro h4 {
    background-color: #5a6268;
    margin-bottom: 20px;
    color: #fffefe;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

#dadosBusca.invisivel{
    display: none;
}

section{
    margin-top: 1rem;
}

#pesquisar{
    background-color: var(--blue-contrast);
    color: var(--text-color-white);
}

.btn{
    background-color: var(--green-contrast);
    color: var(--text-color-white);
    &:hover {
        background-color: var(--green);
        color: #fff;
        opacity: 1;
    }
}
.btn-outline-primary {
    background-color: transparent;
    border: 1px solid var(--blue-contrast);
    color: var(--blue-contrast);
    &:hover {
        background-color: var(--blue-contrast);
        color: #fff;
        opacity: 1;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input#nome,
input#nomeMae,
input#responsavel {
    text-transform: capitalize;
}