@import '/css/typografy.css';
:root {
    --primary:#E3E3E3;
    --secondary:#7C97A1;
    --text-color:#112C37;
    --text-color-contrast:#639498;
    --text-color-white:#FFFFFF;
    --lines:#639498;
    --card-bg:#FFFFFF;
    --blue:#5199FF;
    --blue-light:#72acfd;
    --blue-contrast:#2066CC;
    --green:#32A625;
    --green-light:#53e044;
    --green-contrast:#08860C;
    --yellow:#A69725;
    --yellow-light:#e7d547;
    --yellow-contrast:#867508;
    --orange:#A66625;
    --orange-light:#FFAA4F;
    --orange-contrast:#864D08;
    --red:#A62525;
    --red-light:#FF5A5A;
    --red-contrast:#860808;
}

.bg_blue{background-color: var(--blue);}
.bg_1_light{background-color: var(--blue-light);}
.bg_blue_dark{background-color: var(--blue-contrast);}
.bg_green{background-color: var(--green);}
.bg_2_light{background-color: var(--green-light);}
.bg_green_dark{background-color: var(--green-contrast);}
.bg_yellow{background-color: var(--yellow);}
.bg_3_light{background-color: var(--yellow-light);}
.bg_yellow_dark{background-color: var(--yellow-contrast);}
.bg_orange{background-color: var(--orange);}
.bg_4_light{background-color: var(--orange-light);}
.bg_orange_dark{background-color: var(--orange-contrast);}
.bg_red{background-color: var(--red);}
.bg_5_light{background-color: var(--red-light);}
.bg_red_dark{background-color: var(--red-contrast);}